<!DOCTYPE html>
<html lang="en">

<head>
  <title>Essential Oils Database Webpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .header {
    margin-bottom: 0;
    background-color: rgb(65, 118, 144);
    color: #f5dd5d;
  }
  </style>
</head>

<body class="d-flex flex-column h-100">

<div class="jumbotron text-center header">
  <h1>Essential Oils Database</h1> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin</a>
      </li>
    </ul>
  </div>  
</nav>


<div class="container" style="margin-top:30px">
  <div style="margin-bottom: 2em;">
    <h3>Developers</h3>
    Varun Singh<br>
    Tushar Tyagi<br>
    Vaibhav Saini
  </div>
  <div style="margin-bottom: 2em;">
    <h3>In association with</h3>
    Dr. Shyam Kumar Masakapalli<br>
    Maneesh Lingwan
  </div>
</div>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.iitmandi.ac.in/"> IIT Mandi</a>
  </div>
</footer>

</body>
</html>